# =========================
# Visual Studio / .NET
# =========================
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Arquivos temporários
# =========================
*.tmp
*.temp

# =========================
# Pacotes NuGet
# =========================
packages/
*.nupkg

# =========================
# Configurações sensíveis
# =========================
appsettings.Development.json
secrets.json

# =========================
# SQL Server
# =========================
*.mdf
*.ldf

# =========================
# Frontend
# =========================
node_modules/
dist/
build/

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db